/*
Cores Padrões
Color 1: #170B30
Color 2: #C64FFF
Color 3: #7B3FFF
*/
body{
    margin:0;
    padding:0;
    background-color:#170B30;
}
header{
    display:flex;
    justify-content:center;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container{
    display:flex;
    justify-content:space-between;
    width:990px;
}
.logo_header{
    display:flex;
    align-items:center;
}
.logo_header a img{
    width: 300px;
    height: 100px;
}
.menu_header{
    display:flex;
    align-items:center;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:Arial,sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5px;
}
nav .active, 
nav a:hover {
    background-color:#C64FFF;
}


.column{
    flex-direction: column;
    justify-content: center;
}


/*HOME SECTION*/
#home_section{
    display:flex;
    justify-content: center;
    background-image: linear-gradient(180deg, #c64fff 0%, #5f0a87 74%);
    height: 500px;
}

#home_section .home_container{
    display: flex;
    justify-content:center;
    flex-direction: row-reverse;
    margin-left: 25px;
    margin-right: 25px;
}
.home_img{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.home_desc{
    display: flex;
    justify-content:center;
    flex-direction:column;
}

#home_section .home_img img{
    width: 450px;
    height: 350PX;
}
.home_desc h1{
    color: white;
    font-family: 'Roboto Mono', serif;
    font-size: 50px;
}
.home_desc h2{
    font-family: 'Roboto Mono', serif;
    color: white;
    font-size: 18px;
}



/*SECTION project*/
#project{
    display:flex;
    justify-content: center;
    background-color: white;
    background-image: linear-gradient(360deg, #c64fff 0%, #5f0a87 74%);
}
#project div.container h1{
    font-family: 'Roboto Mono', serif;
    color: white;
    font-size: 50px;
}
#project div.container{
    justify-content: space-around;
    align-items: center;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.project1,
.project2,
.project3,
.project4{
    flex:1;
    /*background-color: white;*/
    height: 250px;
    width: 250px;
    padding: 10px;
}
.project1{
    /*background-color:red;*/
    margin: 10px;
}
.project2{
    /*background-color:green;*/
    margin: 10px;
}
.project3{
    /*background-color:yellow;*/
    margin: 10px;
}
.project4{
    /*background-color:blue;*/
    margin: 10px;
}

/*SECTION OFFICE*/
#office {
    display: flex;
    justify-content: center;
    background-color: white;
    background-image: linear-gradient(180deg, #c64fff 0%, #170b30 95%);
}
#office div.container h1{
    font-family: 'Roboto Mono', serif;
    color: white;
    font-size: 50px;
}
#office div.container {
    display:flex;
    justify-content:center;
    margin-top: 25px;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
}
.office_container{
    display:flex;
    justify-content:center;
    align-items: center;
}
.office_marketing_img{
    margin: 0px;
}
.office_marketing_img img{
    width: 450px;
    height: 350px;
}

.off_mar_title{
    font-size: 25px !important;
}
.office_marketing_desc p{
    font-family: 'Roboto Mono', serif;
    color: white;
    font-size: 18px;
}
.office_marketing_desc strong{
    font-weight:700;
}

.reverse{
    flex-direction: row-reverse;
    margin-top: 75px;
}
.office_developer_img img{
    width: 450px;
    height: 350px;
}

/*FOOTER*/
footer{
    display:flex;
    justify-content: center;
}

.footer_itens{
    display:flex;
    color: #FFFFFF;
}
.foot_item{
    display: flex; 
    flex:1;
    width: 210px;
    margin-left: 25px;
    margin-right: 25px;
}
.title_footer{
    font-size: 27px;
    color: #FFFFFF;
    font-family: 'Roboto Mono', serif;
    font-weight: bold;
}
.bar_footer{
    width: 100px;
    height: 3px;
    background-color: #C64FFF;
    margin-top: 10px;
    border-radius: 1px 1px 1px 1px;
}

footer .footer_copyright{
    margin-top: 50px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Roboto Mono', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom:5px;
    text-decoration: none;
    text-transform: uppercase;
}
footer .footer_copyright a{
    font-weight: 700;
    text-decoration: none;
    color: #C64FFF;
}

/*FOOTER CONTACT*/
.contact{
    display:flex;  
    justify-content:center;
}
.info_contact{
    margin-top: 25px;
    display:flex;  
    flex-direction: row;
   /*justify-content:center;*/
}
.info_contact .icon{
    display: flex;
    justify-content:center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.info_contact .icon img{
    width: 25px;
    height: 25px;
}
.info_contact .info_desc{
    font-family: 'Roboto Mono', serif;
    font-size: 12px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


/*FOOTER SOCIAL*/
.footer_body .social{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.social .facebook, .instagram, .whatsapp{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.facebook{
    margin-top: 25px;
    background-image: url('../imgs/social/facebook.png');
    background-position: center;
    background-size: cover
}
.instagram{
    margin-top: 25px;
    background-image: url('../imgs/social/instagram.png');
    background-position: center;
    background-size: cover
}
.whatsapp{
    margin-top: 25px;
    background-image: url('../imgs/social/whatsapp.png');
    background-position: center;
    background-size: cover
}
/*FOOTER SOLUÇÕES*/
.soluctions{
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto Mono', serif;
    font-size: 15px;
    font-weight: 500;
}
.soluctions .info_so{
    margin-top: 10px;

}