/*
Cores Padrões
Color 1: #170B30
Color 2: #C64FFF
Color 3: #7B3FFF
*/
body{
    margin:0;
    padding:0;
    background-color:#170B30;
}
header{
    display:flex;
    justify-content:center;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container{
    display:flex;
    justify-content:space-between;
    width:990px;
}
.logo_header{
    display:flex;
    align-items:center;
}
.logo_header a img{
    width: 300px;
    height: 100px;
}
.menu_header{
    display:flex;
    align-items:center;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:Arial,sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5px;
}
nav .active, 
nav a:hover {
    background-color:#C64FFF;
}
/*BANNER SECTION*/
#banner_section{
    display:flex;
    justify-content: center;
    background-image: linear-gradient(180deg, #c64fff 0%, #5f0a87 74%);
    /*
    background-image: url('../imgs/banner_section.webp');
    background-position: center;
    background-size: cover;
    */
    height: 670px;

}

.banesec{
    flex-direction: column;
}

.section_banner_headline{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.section_banner_headline h1{
    color: white;
    font-family: 'Roboto Mono', serif;
    font-size: 70px;
    /*
    text-shadow: 1px 1px 0px #000000;
    */
    margin:0;
    padding: 0;
    width: 700px;
}
.section_banner_headline h2{
    color: white;
    font-size: 25px;
    font-family: 'Roboto Mono', serif;
    /*
    text-shadow: 1px 1px 0px #5c5c5c;
    */
    margin:0;
    padding: 0;
    width: 500px;
    margin-top: 15px;
}
.section_banner_options{
    height: 210px;
    margin:0;
    padding: 0;
}


/*SECTION project*/
#project{
    display:flex;
    justify-content: center;
    background-color: white;
    height: 500px;
    background-image: linear-gradient(360deg, #c64fff 0%, #5f0a87 74%);
}
#project div.container{
    justify-content: space-around;
    align-items: center;
}
#project div.container h1{
    font-family: 'Roboto Mono', serif;
    color: white;
    font-size: 50px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.project1,
.project2,
.project3,
.project4{
    flex:1;
    background-color: white;
    height: 250px;
    width: 250px;
}
.project1{
    background-color:red;
    margin: 10px;
}
.project2{
    background-color:green;
    margin: 10px;
}
.project3{
    background-color:yellow;
    margin: 10px;
}
.project4{
    background-color:blue;
    margin: 10px;
}